services:
  db:
    image: "mysql:latest"
    container_name: mysql-container
    environment:
      - MYSQL_ROOT_PASSWORD=your_password
      - MYSQL_PASSWORD=your_password
      - MYSQL_DATABASE=simulaterecipes
    ports:
      - "3307:3306"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 10s
      retries: 5
    networks:
      - app-network

  spring-boot-app:
    build:
      context: ../
      dockerfile: ../Dockerfile
    ports:
      - "8080:8080"
    environment:
      - recipes.datasource.username=root
      - recipes.datasource.host=db
      - recipes.datasource.database=simulaterecipes
      - recipes.datasource.password=your_password
      - recipes.datasource.port=3306
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
